<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <H1>Liste de presence</H1>
 <table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
      <td>uu</td>
      <td>oii</td>
      <td>ygyuh</td>
      <td><button type="submit" name="modifier">Modifier</button></td>
      <td><button type="submit" name="supprimer">Supprimer</button></td>
    </tr>
  </tbody>
  </table>
  <button type="submit" class="ajouter2" (click)="add()">Ajouter</button>
</body>
</html>
